<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Goalio</title>
</head>

<body>
  <header>
    <h1>
      Goalio - Goal/Habit Tracking
    </h1>
    <nav>
      <% if (user) { %>
      <a href="/users/">Home</a>
      <a href="/logout">Log Out</a>
      <p>Welcome <%= user.name %></p>
      <img width="100px" src="<%= user.avatar %>" />
      <% } else { %>
      <a href="/">Home</a>
      <a href="/auth/google">Login</a>
      <% } %>
    </nav>
  </header>
  <hr />
  <main></main>
</body>

</html>