<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Goalio</title>
</head>
<body>
    <header>
        <h1>
            Goalio - Goal/Habit Tracking
        </h1>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>
    <hr>
    <main>