<%- include('partials/header') %>
<section>
<h1>homepage</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt officia harum illum blanditiis. Illum labore quasi sint? Sed expedita architecto cum dolores. Nemo at explicabo aliquid exercitationem quisquam, est nam!
Placeat, unde. Est iste animi perferendis, modi harum illum blanditiis fugit culpa dicta quisquam ab! Dolore quidem enim, consectetur tempore dolorem delectus quia excepturi rerum, numquam magni facere recusandae commodi!
Dolorum voluptas asperiores, aliquam molestiae atque laborum dignissimos fugit id quisquam quibusdam natus rem veritatis voluptatum dolores. Harum placeat doloremque fuga consequuntur! Eaque recusandae iure beatae doloribus amet ad perferendis.
</p>
</section>
<%- include('partials/footer') %>