<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/2a9f10f5de.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script defer src="/javascripts/main.js"></script>
  <title>Goalio</title>
</head>

<body>
  <% if (user) { %>
  <div class="main-wrapper">
    <aside>
      <div class="logo-container">
        <a href="/"><img src="images/goalio_logo.svg" alt="GOAL.IO - Goal & Habit Tracking" class="logo"></a>
      </div>
      <div class="user-container">
        <img class="avatar" src="<%= user.avatar %>">
        <p><%= user.name %></p>
      </div>
      <a class="add-new-button button" href="/goals/new"><i class="fas fa-plus-circle"></i> ADD NEW GOAL</a>
      <nav>
        <div class="main-nav">
          <a class="nav-item" href="/goals"><i class="fas fa-bullseye"></i> My Goals</a>
          <a class="nav-item" href="/milestones"><i class="fas fa-tasks"></i> My Milestones</a>
          <a class="nav-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </div>
      </nav>
    </aside>
    <main>
      <div class="welcome-page">
        <div>
          <p class="intro-title">Welcome to Goalio! Your super duper goal tracker.</p>
          <p class="intro-copy">Goalio is a goal setting app that helps you create and manage your goals so you can be successful sooner. It has an intuitive process that makes the setting goals, milestones and habits simple and easy. It’s so much fun, you’ll wonder why you didn’t start sooner.</p>
          <div class="welcome-buttons-row">
            <a class="welcome-button" href="/goals">View Your Goals</a>
            <a class="welcome-button" href="/goals/new">Add a New Goal</a>
          </div>
        </div>
      </div>
    </main>
  </div>
  <% } else { %>
  <div class="login-container">
    <img src="images/goalio_logo_outline.svg" alt=GOALIO!">
    <p>Your super duper goal tracker!</p>
    <a class="login-button" href="/auth/google">LOGIN</a>
    <% } %>
  </div>
</body>

</html>