<%- include('partials/header') %>
<section>
  <% if (user) { %>
  <h1>user page</h1>
  <a href="/goals">View Goals</a>
  <a href="/goals/new">Add Goal</a>
  <% } else { %>
  <h1>homepage</h1>
  <p>
    Logged out
  </p>
  <% } %>
</section>
<%- include('partials/footer') %>